.models_slider {
    padding: 3rem var(--global-h-offset);
    background-color: black;
    color: white;
    line-height: 1.7rem;
}


.models_slider .slider .slide {
    display: flex;
    align-items: center;
    height: 20rem;
    gap: 5rem;
    justify-content: center;
}

.models_slider .slider .slide img {
    height: 100%;
    border-radius: 0.5rem;
}   


.models_slider .slider .slide div {
    width: 50%;
}

.models_slider .slider .slide .title {
    font-size: 2rem;
    font-weight: 600;
}

.models_slider .slider .slide button {
    width: 80%;
    display: block;
    margin: 2rem auto;
    border: 0;
    background-color: var(--theme-color);
    font-size: 1.1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: 500;
}

.models_slider .slider .slide button:hover {
    background-color: white;
    color: black;
}

.models_slider .slider .slide .description {
    margin: 1rem 0;
    text-align: justify;
}


/* for animation */
.models_slider {
    overflow: hidden;
}

.models_slider .slider {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}

.models_slider .slider .slide {
    float: left; 
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}