.nav {
    background-color: var(--theme-color) !important;
    padding: 0.3rem var(--global-h-offset) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}

.nav_links {
    display: flex !important;
    list-style: none !important;
    padding: 0 !important;
    align-items: center !important;
    gap: 3rem !important;
    width: 100%;
    margin: 0;
}

.nav_link {
    display: inline !important;
    font-weight: 600 !important;
}

.ordinary_links {
    opacity: 0.5 !important;
}

.nav_link:hover {
    opacity: 1 !important;
    cursor: default !important;
}

.logo a {
    display: flex !important;
    align-items: center !important;
    font-weight: 700 !important;
    opacity: 1 !important;
}

.logo {
    margin-right: auto !important;
}


.nav_img {
    color: black !important;
    height: 50px !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}



